.Home-container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.Home-button-container {
    display: flex;
}

.Home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;
    border: 1px solid #D3D3D3;
    cursor: pointer;
    font-weight: bold;
}